<div class="col-md-6 content">

  <div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" [(ngModel)]='option' id="exampleRadios1" value="basic-creation">
      <label class="form-check-label" for="exampleRadios1">
        Basic Creation
      </label>
    </div>
    <!-- <mat-radio-group [(ngModel)]='option' fxLayout="column" fxLayoutAlign="center start">
      <mat-radio-button value='basic-creation'>Basic Creation</mat-radio-button>
    </mat-radio-group> -->

  </div>
  <!-- <div fxFlex='70' fxLayout="column" fxLayoutAlign="center start"></div> -->

  <div>
    <ng-container [ngSwitch]='option'>
      <app-basic-creation *ngSwitchCase="'basic-creation'" ></app-basic-creation>
    </ng-container>

  </div>
</div>