<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button (click)='mapClick()'> Map </button>
    <button (click)='filterClick()'> Filter </button>
    <button (click)='tapClick()'> Tap </button>
    <button (click)='takeClick()'> Take </button>
    <button (click)='debounceTimeClick()'> DebounceTime </button>
    <button (click)='debounceTimeSearch()'> DebounceTime Search </button>
</div>
<div>
    <label for="">Search by:</label>
    <input type="text" placeholder="Type something" (keyup)='searchBy_UsingDebounce($event)' [(ngModel)]='searchInput'>

</div>