<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Select the options bellow</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor='let option of options$ | async'>{{option}}</li>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body" *ngIf='user$|async as user; else loadinguser2'>
            <p>Name: {{ user.name }}</p>
            <p>Login: {{ user.login }}</p>
        </div>
        <ng-template #loadinguser2>
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </ng-template>
        
    </div>
</div>

        <!-- <div class="card-body" *ngIf='user$|async; else loadinguser2'>
            <p>Name: {{ (user$|async)?.name }}</p>
            <p>Login: {{ (user$|async)?.login }}</p>
        </div>
        <ng-template #loadinguser2>
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </ng-template> -->